body {
    width: 500px;
    margin: 40px auto;
    font: 14px/1.5em Helvetica, Arial, sans-serif;
    border: 1px solid #D9D9D9;
    padding: 10px 25px 25px;
}

input[type="submit"] {
    
    background: #00A9E0;
    border: 1px solid #0079A0;
    color: white;
    font: bold 14px/1em "Century Gothic","proxima-nova",Frutiger,"Frutiger Linotype",Univers,Calibri,"Myriad Pro",Myriad,"DejaVu Sans Condensed","Liberation Sans","Nimbus Sans L",Tahoma,Geneva,"Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 7px 1em 10px;
    text-shadow: 0px 1px 2px #555;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00a9e0), color-stop(100%, #0079a0));
    background-image: -webkit-linear-gradient(#00a9e0,#0079a0);
    background-image: -moz-linear-gradient(#00a9e0,#0079a0);
    background-image: -o-linear-gradient(#00a9e0,#0079a0);
    background-image: -ms-linear-gradient(#00a9e0,#0079a0);
    background-image: linear-gradient(#00a9e0,#0079a0);
    -moz-box-shadow: inset 0px 1px 0px #8bc4e2,inset 0 -1px 0px #335;
    -webkit-box-shadow: inset 0px 1px 0px #8bc4e2,inset 0 -1px 0px #335;
    -o-box-shadow: inset 0px 1px 0px #8bc4e2,inset 0 -1px 0px #335;
    box-shadow: inset 0px 1px 0px #8bc4e2,inset 0 -1px 0px #335;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;

}// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    width: 500px;
    margin: 40px auto;
    font: 14px/1.5em Helvetica, Arial, sans-serif;
    border: 1px solid #D9D9D9;
    padding: 10px 25px 25px;
}

input[type="submit"] {
    
    background: #00A9E0;
    border: 1px solid #0079A0;
    color: white;
    font: bold 14px/1em "Century Gothic","proxima-nova",Frutiger,"Frutiger Linotype",Univers,Calibri,"Myriad Pro",Myriad,"DejaVu Sans Condensed","Liberation Sans","Nimbus Sans L",Tahoma,Geneva,"Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 7px 1em 10px;
    text-shadow: 0px 1px 2px #555;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00a9e0), color-stop(100%, #0079a0));
    background-image: -webkit-linear-gradient(#00a9e0,#0079a0);
    background-image: -moz-linear-gradient(#00a9e0,#0079a0);
    background-image: -o-linear-gradient(#00a9e0,#0079a0);
    background-image: -ms-linear-gradient(#00a9e0,#0079a0);
    background-image: linear-gradient(#00a9e0,#0079a0);
    -moz-box-shadow: inset 0px 1px 0px #8bc4e2,inset 0 -1px 0px #335;
    -webkit-box-shadow: inset 0px 1px 0px #8bc4e2,inset 0 -1px 0px #335;
    -o-box-shadow: inset 0px 1px 0px #8bc4e2,inset 0 -1px 0px #335;
    box-shadow: inset 0px 1px 0px #8bc4e2,inset 0 -1px 0px #335;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;

}